@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --bg-color: #1f2937;
    --quote-bg: #e5e7eb;
    --main-text: #f9faf8;
    --logo: #f9faf8;
    --secondary-text: #e5e7eb;
    --button-bg: #3882f6;


    --main-text-size: 48px;
    --secondary-text-size: 18px;
    --quote-text-size: 36px;
    --logo-text-size: 24px;
}

.container{
    width: 80vw;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
}

/* header styling start  */
header{
    height: 80px;
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: space-between;
}
.container .logo{
    padding-left: 30px;
    font-size: var(--logo-text-size);
}

.container .nav-bar ul{
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

/* hero section styling  */
.hero{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero h1{
    font-size: var(--main-text-size);
    margin: 30px;
}
.hero p{
    font-size: var(--secondary-text-size);
    margin: 0 30px;
}
.hero .left{
    width: 40%;
}
.hero .right{
    height: 500px;
    width: 50%;
    background: url('https://images.pexels.com/photos/53148/shish-kebab-meat-skewer-vegetable-skewer-meat-products-53148.jpeg');
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
}

/* editors choice styling */
.editors-choice{
    height: 70vh;
}
.card-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.editors-choice .title{
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
    background-color: antiquewhite;
}
.card{
    width: 25%;
    height: 500px;
    /* border: #1f2937 solid 1px; */
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-container .card .img{
    width: 100%;
    height: 80%;
    /* position: relative; */
    border-radius: 20px 20px 0 0;
}
.card-container .card .img1{
    background: url('https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img2{
    background: url('https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img3{
    background: url('https://images.pexels.com/photos/8718/vegetables-frying-pan-greens.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img4{
    background: url('https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}

.card-container .card-text{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 0 0 20px 20px;
}

.quote-section{
    height: 30vh;
    
}
.quote-section .quote-container{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.quote-section .quote-container p{
    font-size: 3.5rem;
}

