@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
}

:root{
    --bg-color: #ffebb4e8;
    --bg-color2: #e5e7eb;
    --main-text: #e69090;

    --main-text-size: 48px;
    --secondary-text-size: 18px;
    --logo-text-size: 36px;
}

.container{
    width: 80vw;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
}

/* header styling start  */
header{
    height: 60px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
}
.container .logo{
    padding-left: 30px;
    font-size: var(--logo-text-size);
    color: var(--main-text);
}

.container .nav-bar ul{
    display: flex;
    gap: 30px;
    padding-right: 30px;
}
.container .nav-bar ul li a{
    font-size: 20px;
    color: var(--main-text)
}
.container .nav-bar ul li a:hover{
    color: rgb(102, 102, 102);
    transition: all .50s ease;
}

/* hero section styling  */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero h1{
    font-size: var(--main-text-size);
    color: var(--main-text);
    margin: 30px;
}
.hero p{
    font-size: var(--secondary-text-size);
    margin: 0 30px;
    color: rgb(102, 102, 102);
}
.hero .left{
    width: 40%;
}
.hero .right{
    height: 500px;
    width: 50%;
    background: url('https://images.pexels.com/photos/53148/shish-kebab-meat-skewer-vegetable-skewer-meat-products-53148.jpeg');
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
}

/* editors choice styling */
.editors-choice{
    height: 100vh;
}
.card-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.editors-choice .title{
    text-align: center;
    font-size: 48px;
    color: var(--main-text);
}
.card{
    width: 25%;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-container .card .img{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0 0;
}
.card-container .card:hover{
    transform: scale(1.1);
    transition: all .50s ease;
}
.card-container .card .img1{
    background: url('https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img2{
    background: url('https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img3{
    background: url('https://images.pexels.com/photos/8718/vegetables-frying-pan-greens.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}
.card-container .card .img4{
    background: url('https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
}

.card-container .card-text{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    color: var(--main-text);
}

/* quote section styling */
.quote-section{
    height: 40vh;
    
}
.quote-section .quote-container{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.quote-section .quote-container p{
    font-size: 2rem;
    color: rgb(102, 102, 102)
}

/* sign up section  */
.sign-up{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up .sign-up-container{
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.sign-up .sign-up-container .left{
    margin-left: 50px;
}
.sign-up .sign-up-container .left h2{
    color: rgb(102, 102, 102);
}
.sign-up .sign-up-container .left p{
    color: rgb(102, 102, 102);
}
.sign-up .sign-up-container .right{
    margin-right: 50px;
}
.sign-up .sign-up-container .right button{
    display: inline-block;
    background-color: #FFBFA9;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer; 
    margin: 5px; 
}
.sign-up .sign-up-container .right button:hover{
    background-color: #FFEBB4;
    transition: all .50s ease;
    transform: scale(1.1);
}

/* footer styling */
footer{
    height: 100px;
    background-color:rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
